# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT
data/notes/testNote_0.txt
data/notes/testNote_1.txt
data/notes/testNote_2.txt
data/notes/testNote_3.txt
data/notes/testNote_4.txt
data/notes/testNote_5.txt
data/notes/testNote_6.txt
data/notes/testNote_7.txt
data/notes/testNote_8.txt
data/notes/testNote_9.txt
data/notebook.txt
data/notes/TestNote.txt

# Logger Files
/FindCommand.log
/HelpCommand.log
/HelpCommand.log.1
/TagManager.log.1
/TagManager.log.1.lck

*.log
HelpCommand.log.lck
TagManager.log.lck
TagManager.log.lck.1
