# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT

# Data files
data/flashcard.txt
data/timetable.txt
data/bookmark.txt
data/academic.txt
StudyIt_Log.log
StudyIt_Log.log.lck
StudyIt_Logger.log
StudyIt_Logger.log.1
StudyIt_Logger.log.1.lck
StudyIt_Logger.log.lck
