# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT
logger.log
logger.log.lck
.gradle/workspace-id.txt
.gradle/workspace-id.txt.lock
.gradle/6.2/gc.properties
.gradle/6.2/executionHistory/executionHistory.bin
.gradle/6.2/executionHistory/executionHistory.lock
.gradle/6.2/fileChanges/last-build.bin
.gradle/6.2/fileContent/fileContent.lock
.gradle/6.2/fileHashes/fileHashes.bin
.gradle/6.2/fileHashes/fileHashes.lock
.gradle/6.2/fileHashes/resourceHashesCache.bin
.gradle/6.2/javaCompile/classAnalysis.bin
.gradle/6.2/javaCompile/jarAnalysis.bin
.gradle/6.2/javaCompile/javaCompile.lock
.gradle/6.2/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/vcs-1/gc.properties
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
data/freqList.txt
gradle/.idea/gradle.iml
text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
text-ui-test/logger.log
build/classes/java/test/seedu/duke/BusDataTest.class
build/classes/java/test/seedu/duke/BusTest.class
build/classes/java/test/seedu/duke/DukeTest.class
build/classes/java/test/seedu/duke/logic/SimilarityCheckTest.class
build/classes/java/test/seedu/duke/logic/commands/RouteCommandTest.class
build/classes/java/test/seedu/duke/logic/commands/RouteMapCommandTest.class
build/classes/java/test/seedu/duke/logic/parser/ParserTest.class
build/classes/java/test/seedu/duke/logic/parser/RouteParserTest.class
